<% if @users.blank? %>
  <h1>No users yet!</h1>
  <%= link_to :create_user, new_user_path %>
<% else %>
  <% @users.each do |user| %>
    <div>
      <%= user.name %>
      <%= user.phone_number %>
      <%= user.email %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Add another player', new_user_path %>

